{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Pengujian Sistem</li>
                </ol>
            </div>
            <h4 class="page-title">Pengujian Sistem</h4>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'ceritabali:pengujian' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="seleksi" class="form-label">Seleksi Fitur</label>
                            <select class="form-select" id="seleksi" name="seleksi">
                                <option value="yes" {% if old.seleksi == 'yes' %} selected {% endif %}>Ya</option>
                                <option value="no" {% if old.seleksi == 'no' %} selected {% endif %}>Tidak</option>
                            </select>
                        </div>                
                        <div class="mb-3 col-4">
                            <label for="iterasi" class="form-label">Jumlah Iterasi</label>
                            <input type="text" id="iterasi" class="form-control" name="iterasi"
                            {% if old.iterasi %} value="{{ old.iterasi }}"{% endif %} required>
                        </div>                
                        <div class="mb-3 col-4">
                            <label for="kromosom" class="form-label">Jumlah Kromosom</label>
                            <input type="text" id="kromosom" class="form-control" name="kromosom"
                            {% if old.kromosom %} value="{{ old.kromosom }}"{% endif %} required>
                        </div>                
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="cr" class="form-label">Crossover Rate</label>
                            <input type="text" id="cr" class="form-control" name="cr"
                            {% if old.cr %} value="{{ old.cr }}"{% endif %} required>
                        </div>                
                        <div class="mb-3 col-6">
                            <label for="mr" class="form-label">Mutation Rate</label>
                            <input type="text" id="mr" class="form-control" name="mr"
                            {% if old.mr %} value="{{ old.mr }}"{% endif %} required>
                        </div>                
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary"><i class="uil-sync"></i> Process</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% if old %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <h4 class="card-header">Hasil Evaluasi dengan Data Training</h4>
            <div class="card-body">
                <table class="table mb-0 text-center table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Evaluasi</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Accuracy</th>
                            <td>{{ evaluasi_train.akurasi.avg }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">Precision</th>
                            <td>{{ evaluasi_train.precision.avg }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">Recall</th>
                            <td>{{ evaluasi_train.recall.avg }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">F1-Score</th>
                            <td>{{ evaluasi_train.f_measure.avg }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h4 class="card-header">Hasil Evaluasi dengan Data Testing</h4>
            <div class="card-body">
                <table class="table mb-0 text-center table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Evaluasi</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Accuracy</th>
                            <td>{{ evaluasi_test.akurasi }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">Precision</th>
                            <td>{{ evaluasi_test.precision.avg }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">Recall</th>
                            <td>{{ evaluasi_test.recall.avg }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">F1-Score</th>
                            <td>{{ evaluasi_test.f_measure.avg }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
    